---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
        <main>
          <div style="margin-left: 15%; margin-right: 15%;">
            <img src="/terminal-hero.svg" alt="Hero Image" width="100%" />
          </div>
        </main>
		<Footer />
	</body>
</html>
