---
const today = new Date();
---

<footer>
    &copy; {today.getFullYear()} ReInnovation Software LLC | All rights reserved | 
    <a href="https://reinnovationsoftware.com/privacy"> Privacy Policy </a>
    | <a href="https://reinnovationsoftware.com/terms">Terms of Use
	
</footer>
<style>
	footer {
		padding: 1em 1em 1em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: #1b2a4e;
		text-align: center;
	}
</style>
